body{
    text-align: center;
/*     background-color: rgb(24, 26, 27); */
}
.container{
    margin-top: 20vh;
    display: grid;
    gap: 20px;
}
button{
    background-color: #414141;
/*     color: #ffffff;
    font: bold; */
    width: 300px;
    padding: 8px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
button:hover{
    transform: scale(1.1);
}
